USE [demotranning]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 01.04.2023 12:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[id] [int] NOT NULL,
	[дата_заказа] [date] NULL,
	[дата_доставки] [date] NULL,
	[пункт_выдачи] [int] NULL,
	[id_пользователя] [int] NULL,
	[код_для_получения] [int] NULL,
	[статус_заказа] [nvarchar](50) NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 01.04.2023 12:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[id] [int] NOT NULL,
	[ФИО] [nvarchar](100) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[role_id] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пункт_выдачи]    Script Date: 01.04.2023 12:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пункт_выдачи](
	[id] [int] NOT NULL,
	[адрес] [nvarchar](255) NULL,
 CONSTRAINT [PK_Пункт_выдачи] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли_пользователя]    Script Date: 01.04.2023 12:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли_пользователя](
	[id_роли] [int] NOT NULL,
	[наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Роли_пользователя] PRIMARY KEY CLUSTERED 
(
	[id_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Состав_заказа]    Script Date: 01.04.2023 12:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Состав_заказа](
	[id_состава] [int] NOT NULL,
	[id_заказа] [int] NOT NULL,
	[id_товара] [int] NOT NULL,
	[количество_товара] [int] NOT NULL,
 CONSTRAINT [PK_Составзаказа] PRIMARY KEY CLUSTERED 
(
	[id_состава] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товар_декор]    Script Date: 01.04.2023 12:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товар_декор](
	[id] [int] NOT NULL,
	[артикул] [nvarchar](50) NULL,
	[наименование] [nvarchar](255) NULL,
	[единица_измерения] [nvarchar](255) NULL,
	[стоимость] [float] NULL,
	[размер_максимально_возможной_скидки] [float] NULL,
	[производитель] [nvarchar](255) NULL,
	[поставщик] [nvarchar](255) NULL,
	[категория_товара_id] [int] NOT NULL,
	[действующая_скидка] [float] NULL,
	[колво_на_складе] [float] NULL,
	[описание] [nvarchar](255) NULL,
	[изображение] [nvarchar](255) NULL,
 CONSTRAINT [PK_Товар_декор] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Заказы] ([id], [дата_заказа], [дата_доставки], [пункт_выдачи], [id_пользователя], [код_для_получения], [статус_заказа]) VALUES (1, CAST(N'2022-05-01' AS Date), CAST(N'2022-05-07' AS Date), 2, 4, 111, N'Новый ')
INSERT [dbo].[Заказы] ([id], [дата_заказа], [дата_доставки], [пункт_выдачи], [id_пользователя], [код_для_получения], [статус_заказа]) VALUES (2, CAST(N'2022-05-02' AS Date), CAST(N'2022-05-08' AS Date), 8, NULL, 112, N'Новый ')
INSERT [dbo].[Заказы] ([id], [дата_заказа], [дата_доставки], [пункт_выдачи], [id_пользователя], [код_для_получения], [статус_заказа]) VALUES (3, CAST(N'2022-05-03' AS Date), CAST(N'2022-05-09' AS Date), 10, NULL, 113, N'Новый ')
GO
INSERT [dbo].[Пользователи] ([id], [ФИО], [Login], [Password], [role_id]) VALUES (1, N'Агафонова  Лариса Михаиловна', N'loginDEiry2018', N'5zu7+}', 3)
INSERT [dbo].[Пользователи] ([id], [ФИО], [Login], [Password], [role_id]) VALUES (2, N'Александров  Владимир Дамирович', N'loginDEuuo2018', N'42XmH1', 2)
INSERT [dbo].[Пользователи] ([id], [ФИО], [Login], [Password], [role_id]) VALUES (3, N'Алексеев  Владислав Аркадьевич', N'loginDEbct2018', N'Qg3gff', 2)
GO
INSERT [dbo].[Пункт_выдачи] ([id], [адрес]) VALUES (1, N'344288, г. Ковров, ул. Чехова, 1')
INSERT [dbo].[Пункт_выдачи] ([id], [адрес]) VALUES (2, N'614164, г.Ковров,  ул. Степная, 30')
INSERT [dbo].[Пункт_выдачи] ([id], [адрес]) VALUES (3, N'394242, г. Ковров, ул. Коммунистическая, 43')
GO
INSERT [dbo].[Роли_пользователя] ([id_роли], [наименование]) VALUES (1, N'Администратор')
INSERT [dbo].[Роли_пользователя] ([id_роли], [наименование]) VALUES (2, N'Клиент')
INSERT [dbo].[Роли_пользователя] ([id_роли], [наименование]) VALUES (3, N'Менеджер')
GO
INSERT [dbo].[Состав_заказа] ([id_состава], [id_заказа], [id_товара], [количество_товара]) VALUES (1, 1, 16, 10)
INSERT [dbo].[Состав_заказа] ([id_состава], [id_заказа], [id_товара], [количество_товара]) VALUES (2, 2, 24, 2)
INSERT [dbo].[Состав_заказа] ([id_состава], [id_заказа], [id_товара], [количество_товара]) VALUES (3, 3, 15, 11)
GO
INSERT [dbo].[Товар_декор] ([id], [артикул], [наименование], [единица_измерения], [стоимость], [размер_максимально_возможной_скидки], [производитель], [поставщик], [категория_товара_id], [действующая_скидка], [колво_на_складе], [описание], [изображение]) VALUES (1, N'B025Y5', N'Блюдо', N'шт.', 1890, 5, N'Home Philosophy', N'Стокманн', 4, 3, 8, N'Блюдо декоративное flower 35 см Home Philosophy', NULL)
INSERT [dbo].[Товар_декор] ([id], [артикул], [наименование], [единица_измерения], [стоимость], [размер_максимально_возможной_скидки], [производитель], [поставщик], [категория_товара_id], [действующая_скидка], [колво_на_складе], [описание], [изображение]) VALUES (2, N'B037T5', N'Блюдо', N'шт.', 690, 5, N'Home Philosophy', N'Стокманн', 4, 2, 14, N'Блюдо декоративное Flower 35 см', NULL)
INSERT [dbo].[Товар_декор] ([id], [артикул], [наименование], [единица_измерения], [стоимость], [размер_максимально_возможной_скидки], [производитель], [поставщик], [категория_товара_id], [действующая_скидка], [колво_на_складе], [описание], [изображение]) VALUES (3, N'D034T5', N'Диффузор', N'шт.', 800, 20, N'Miksdo', N'Hoff', 1, 2, 15, N'Диффузор Mikado intense Апельсин с корицей', N'D034T5.jpg')
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Пользователи] FOREIGN KEY([id_пользователя])
REFERENCES [dbo].[Пользователи] ([id])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Пользователи]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Пункт_выдачи] FOREIGN KEY([пункт_выдачи])
REFERENCES [dbo].[Пункт_выдачи] ([id])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Пункт_выдачи]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Роли_пользователя] FOREIGN KEY([role_id])
REFERENCES [dbo].[Роли_пользователя] ([id_роли])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Роли_пользователя]
GO
ALTER TABLE [dbo].[Состав_заказа]  WITH CHECK ADD  CONSTRAINT [FK_Состав_заказа_Заказы] FOREIGN KEY([id_заказа])
REFERENCES [dbo].[Заказы] ([id])
GO
ALTER TABLE [dbo].[Состав_заказа] CHECK CONSTRAINT [FK_Состав_заказа_Заказы]
GO
ALTER TABLE [dbo].[Состав_заказа]  WITH CHECK ADD  CONSTRAINT [FK_Состав_заказа_Товар_декор] FOREIGN KEY([id_товара])
REFERENCES [dbo].[Товар_декор] ([id])
GO
ALTER TABLE [dbo].[Состав_заказа] CHECK CONSTRAINT [FK_Состав_заказа_Товар_декор]
GO
